<div class="chat-page">

  <header class="chat-header">
    <div class="chat-header__icon">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
    </div>
    <div>
      <p class="chat-header__eyebrow">RECOMMENDATION ASSISTANT</p>
      <h1 class="chat-header__title">matIA <span id="chat_title" class="chat-header__chat-id">- <%= @chat.title %></span></h1>
    </div>
  </header>

  <%= turbo_stream_from @chat %>

  <div class="chat-messages" id="chat-messages" data-controller="autoscroll">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="chat-input-bar">
    <div id="new_message_container">
      <%= render "messages/form", chat: @chat, message: Message.new %>
    </div>
  </div>

</div>
