<div class="container">
  <h1>What's matIA ? </h1>
  <h2>Your gaming wishlist, built at the speed of a conversation.</h2>
  <p>matIA transforms the way you discover and organize games — no more endless browsing, just an AI chatbot that understands what you want to play.</p>
  <button class="btn btn-primary"> create an account to start chatting</button>
  <%= button_to "Start chatting", chats_path, method: :post, class: "btn btn-primary" %>
</div>
